{% extends "base.html" %}
{% load static %}

{% block title %}Home - ServiceNOW Script Generator{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'servicenow_script_generator/css/section-styles.css' %}">
{% endblock %}

{% block content %}
<h2 class="mb-4" style="text-align: center;">Upload Current Tables</h2>

<!-- ========== CATEGORY SECTION ========== -->
<div class="section">
  <h3 style="margin-left: 1em;">1. Add categories from the SNOW category table</h3>

  <div class="indent-block" style="margin-left: 3em;">
    <h4>Instructions:</h4>
    <ol>
      <li style="margin-bottom: 10px;">
        Go to the 
        <a href="https://globusfamilydev.service-now.com/now/nav/ui/classic/params/target/sys_choice_list.do%3Fsysparm_query%3Delement%253Dcategory%255Ename%253Dincident%26sysparm_first_row%3D1%26sysparm_view%3D" target="_blank">
          SNOW Category table
        </a>.
      </li>
      <li style="margin-bottom: 10px;">Right click in the circled area next to the "Table" column name. Then hit "Export" and "CSV".</li>
      <img src="{% static 'servicenow_script_generator/images/export-snow-category.jpg' %}" alt="Category Table Click" class="instruction-image" width="950" style="margin-bottom: 30px;">
      <li>Upload attachments here: </li>
      <form action="{% url 'upload_category_csv' %}" method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        <div class="mb-2" style="max-width: 250px;">
          <input type="file" name="category_csv_file" accept=".csv" required class="form-control">
        </div>
        <div>
          <button style="margin-top:5px;" class="btn btn-success" type="submit">Upload</button>
        </div>
      </form>

      {% if upload_message %}
        <p class="upload-message" style="white-space: pre-line; margin-top:10px;">{{ upload_message }}</p>
      {% endif %}
    </ol>
  </div>
</div>

<!-- ========== SUBCATEGORY SECTION ========== -->
<div class="section">
  <h3 style="margin-left: 1em;">2. Add subcategories from the SNOW subcategory table</h3>

  <div class="indent-block" style="margin-left: 3em;">
    <h4>Instructions:</h4>
    <ol>
      <li style="margin-bottom: 10px;">
        Go to the 
        <a href="https://globusfamilydev.service-now.com/now/nav/ui/classic/params/target/sys_choice_list.do%3Fsysparm_query%3Delement%253Dsubcategory%255Ename%253Dincident%26sysparm_first_row%3D1%26sysparm_view%3D" target="_blank">
          SNOW SubCategory table
        </a>.
      </li>
      <li style="margin-bottom: 10px;">Right click in the circled area next to the "Table" column name. Then hit "Export" and "CSV".</li>
      <img src="{% static 'servicenow_script_generator/images/export-snow-subcategory.jpg' %}" alt="SubCategory Table Click" class="instruction-image" width="950" style="margin-bottom: 30px;">
      <li>Upload attachments here: </li>
      <form action="{% url 'upload_subcategory_csv' %}" method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        <div class="mb-2" style="max-width: 250px;">
          <input type="file" name="subcategory_csv_file" accept=".csv" required class="form-control">
        </div>
        <div>
          <button style="margin-top:5px;" class="btn btn-success" type="submit">Upload</button>
        </div>
      </form>

      {% if upload_message %}
        <p class="upload-message" style="white-space: pre-line; margin-top:10px;">{{ upload_message }}</p>
      {% endif %}
    </ol>
  </div>
</div>

<!-- ========== SCRIPT GENERATION SECTION ========== -->
<div class="section">
  <h3 style="margin-left: 1em;">3. After category and subcategory tables have been uploaded:</h3>

  <div class="indent-block" style="margin-left: 3em;">
    <h4>Click the "DONE" button to proceed to the next step.</h4>
    <button 
      type="button"
      style="margin-top:5px;" 
      class="btn btn-primary"  
      onclick="window.location.href='{% url "add_cat_subcat" %}'"
      >DONE
    </button>
  </div>

</div>

{% endblock %}